      <ion-view title="Telkomsel Customer Tracker">
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.ID">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.PASSWORD">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-assertive" ng-click="login()">
              Sign-In
            </button>
            <p class="text-center">
              <a href="#/forgot-password">Forgot password</a>
            </p>
          </div>
        </ion-content>
      </ion-view>