<ion-view title="Search">
  <ion-content class="has-header">
    <div class="bar bar-header item-input-inset">
          <input type="text" placeholder=" Search MSISDN" ng-model="search.name" 
                  style="width:100%; padding-left:11px;" />
      </div>
    <ion-list>
      <ion-item  type="item-text-wrap" href="#/tab/friend/{{friend.id}}"
        ng-repeat="friend in friends | filter:search | limitTo:listlength">
        {{friend.name}}
      </ion-item>
    </ion-list>
     <ion-infinite-scroll ng-if="listlength<=friends.length" 
            on-infinite="loadMore()" distance="3%">
      </ion-infinite-scroll>
  </ion-content>
</ion-view>